<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="./score.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="location">
            <div class="header" >西安软件服务外包学院</div>
            <hr>
            <div id = "title"><div id="word">成绩单</div></div>
            <div class="information">
                <ul>
                    <li>科目：<%=subject %></li>
                    <li>时间：56分钟</li>
                    <li>得分:<%=score %></li>
                </ul>
            </div>
            <br>
            <div class="information">
                <ul>
                    <li>班级：<%=clas %></li>
                    <li>学号：<%=studentId %></li>
                    <li>姓名:<%=name %></li>
                </ul>
            </div>
    </body>
</html>
